<html lang="pt-br">
    <head>

    </head>

    <body>
        <div class="kt-grid kt-grid--ver kt-grid--root">
            <div class="kt-grid kt-grid--hor kt-grid--root  kt-login kt-login--v1" id="kt_login">
                <div
                    class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--desktop kt-grid--ver-desktop kt-grid--hor-tablet-and-mobile">
                    <!--begin::Aside-->
                    <div class="kt-grid__item kt-grid__item--order-tablet-and-mobile-2 kt-grid kt-grid--hor kt-login__aside"
                        style="background-image: url(https://myadmin.rio2c.com/assets/img/bg-login-page.png?20230731); background-attachment: fixed;">
                        <div class="kt-grid__item">
                            <a href="" class="kt-login__logo">
                                <img src="https://myadmin.rio2c.com/Assets/img/logo_rio2c_white.png"
                                    class="r2c-login__logo">
                            </a>
                        </div>
                        <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver">
                            <div class="kt-grid__item kt-grid__item--middle">
                                <h3 class="kt-login__title">Bem-vindo à plataforma de eventos do MyRio2C!</h3>
                                <h4 class="kt-login__subtitle">O maior evento de criatividade e inovação da América Latina.
                                </h4>
                            </div>
                        </div>
                        <div class="kt-grid__item">
                            <div class="kt-login__info">
                                <div class="kt-login__copyright">
                                    © 2024 Rio2C | Desenvolvido por <a href="http://sof.to" target="_blank"
                                        class="r2c-login__footer-link">Softo</a> & <a href="https://addmind.me"
                                        target="_blank" class="r2c-login__footer-link">AddMind</a>
                                </div>
    
                            </div>
                        </div>
                    </div>
                    <!--end::Aside-->
                    <!--begin::Content-->
                    <div
                        class="kt-grid__item kt-grid__item--fluid  kt-grid__item--order-tablet-and-mobile-1  kt-login__wrapper">
                        <!--begin::Head-->
                        <div class="kt-login__head">
                            <div class="kt-header__topbar kt-grid__item r2c-header__topbar r2c-login-header__topbar">
    
                            </div>
                        </div>
                        <!--end::Head-->
                        <!--begin::Body-->
    
                        <div class="kt-login__body">
                            <!--begin::Signin-->
                            <div class="kt-login__form">
                                <div class="kt-login__title">
                                    <h3>Entrar</h3>
                                </div>
                                <!--begin::Form-->
                                <form id="login-form" action="." method="post">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <input autocomplete="off" class="form-control" data-val="true"
                                            data-val-email="O campo 'E-mail' é obrigatório."
                                            data-val-required="O campo 'E-mail' é obrigatório." id="id_username" name="username"
                                            placeholder="E-mail" type="text" value="">
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Email"
                                            data-valmsg-replace="true"></span>
                                    </div>
                                    <div class="form-group">
                                        <div class="hideShowPassword-wrapper"
                                            style="position: relative; display: block; margin: 16.25px 0px 0px;">
                                            <input
                                                class="form-control showhidepassword hideShowPassword-field" data-val="true"
                                                data-val-required="O campo 'Senha' é obrigatório." id="id_password"
                                                name="password" placeholder="Senha" type="password"
                                                style="margin: 0px; padding-right: 45.9911px;"><button type="button"
                                                role="button" aria-label="Show Password" title="Show Password" tabindex="0"
                                                class="hideShowPassword-toggle hideShowPassword-toggle-show"
                                                aria-pressed="false"
                                                style="position: absolute; right: 0px; top: 50%; margin-top: -21.9977px;">Show</button>
                                        </div>
                                        <span class="field-validation-valid text-danger" data-valmsg-for="Password"
                                            data-valmsg-replace="true"></span>
                                    </div>
                                    <!--begin::Action-->
                                    <div class="kt-login__actions">
                                        <!-- 
                    <a href="/pt-br/2024/Account/ForgotPassword" class="kt-link kt-login__link-forgot">
                        Esqueceu a senha? -->
                                        </a>
                                        <input type="submit" value="Entrar"
                                            class="btn btn-primary btn-elevate kt-login__btn-primary">
                                    </div>
                                    <!--end::Action-->
                                </form> <!--end::Form-->
    
                            </div>
                            <!--end::Signin-->
                        </div>
    
                        <!--end::Body-->
                    </div>
                    <!--end::Content-->
                </div>
            </div>
        </div>
    </body>
</html>